$family: 'Poppins', sans-serif;
$primary-cyan: hsl(180, 66%, 49%);
$primary-dark-violet: hsl(257, 27%, 26%);
$color-red: hsl(0, 87%, 67%);
$color-white: #ffffff;
$color-gray: hsl(0, 0%, 75%);
$color-gray-violet: hsl(257, 7%, 63%);
$color-dark-blue: hsl(255, 11%, 22%);
$color-dark-violet: hsl(260, 8%, 14%);
$fw-md: 500;
$fw-bold: 700;
$hover-color: hsl(179, 56%, 75%);
